<div class="loyalty-plugin">
  <p ng-if="ContentHome.showRedemptionPasscodeHint" class="info-note margin-bottom-ten" style="font-size: 13px;">
    Your default staff confirmation passcode is {{ContentHome.defaultPassCode}}, you can change it in the <a class="link" ng-click="ContentHome.openSettingsPage()">Settings</a> tab.
  </p>
  <p class="info-note margin-bottom-twenty" style="font-size: 13px;">
    Add redemption items here. You can set how the user earns points and redeem items in the <a class="link" ng-click="ContentHome.openSettingsPage()">Settings</a> tab.
  </p>
  <div class="row">
    <div class="col-md-9">
      <div class="input-group margin-bottom-twenty">
        <input ng-model="ContentHome.title" type="text" id="searchItemText" class="form-control" placeholder="Search" />
        <span class="input-group-btn">
          <button ng-click="ContentHome.search()" class="btn btn-info stretch margin-left-zero" id="searchProductsBtn">
            <span class="icon icon-magnifier"></span>
          </button>
        </span>
      </div>
    </div>
    <div class="col-md-3">
      <a class="add-item-a" href="#/reward">
        <button class="btn btn-primary stretch"  href="#/reward">
          <span class="icon icon-plus margin-right-ten"></span>  Add Item
        </button>
      </a>
    </div>
  </div>
  <div class="item clearfix">
    <div ng-if="ContentHome.loyaltyRewards.length"
        class="tab-order draggable-list-view wide-list has-btn-link border-grey border-radius-four">
      <div>
        <div ui-sortable="ContentHome.rewardsSortableOptions"
             ng-model="ContentHome.loyaltyRewards">
          <div class="d-item double-line square-icon clearfix"
               ng-repeat="reward in ContentHome.loyaltyRewards">
            <span class="icon icon-menu pull-left cursor-grab"></span>
            <div class="media-holder pull-left">
              <img load-image="1x1" data-final-src="{{reward.listImage | getImageUrl : 60:60}}"
                   ng-if="reward.listImage">
              <img src="../../../../styles/media/holder-1x1.png" ng-if="!reward.listImage">
            </div>
            <div class="copy pull-right">
              <div class="col-md-7 padding-zero pull-left">
                <span
                class="title ellipsis pull-left black-color">{{reward.title}}</span>
                <span class="title ellipsis pull-left font-size-12 gray-color" ng-if="reward.pointsToRedeem != '38762499627'">{{reward.pointsToRedeem}} Points</span>
              </div>
              <div class="pull-right padding-top-fifteen">
                <span
                class="btn-icon icon-pencil icon-edit transition-third"
                ng-click="ContentHome.openReward(reward, $index)"></span>
                <span
                    class="btn-icon icon-cross2 icon-remove transition-third"
                    ng-click="ContentHome.removeLoyalty(reward._id, $index)"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="padded" ng-if="!ContentHome.loyaltyRewards.length">
      <div class="well text-center padding-100">You haven't added anything yet</div>
    </div>
  </div>
</div>

