<div class="loyalty-plugin">
  <div class="item clearfix row">
    <div class="col-xs-12 margin-top-five" ng-if="ContentHome.needToLoginInCP">
      <div class="alert alert-sm text-center alert-danger">Please make sure
        you are logged In
      </div>
    </div>
  </div>
  <br ng-if="ContentHome.needToLoginInCP">
  <div id="carousel"></div>
  <br ng-if="!ContentHome.data.image.length">
  <div class="padded" ng-if="!ContentHome.data.image.length">
    <div class="well text-center">No images found.</div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Text</span>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="main col-md-12 pull-right">
    <textarea id="text" ui-tinymce="ContentHome.bodyWYSIWYGOptions"
              class="form-control" rows="5" width="100%"
              ng-model="ContentHome.data.content.description"></textarea>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-xs-3 pull-left">
      <span>Points per Purchase</span>
    </div>
    <div class="main col-xs-9 pull-right">
      <input type="number" class="form-control"
             placeholder="Points per Purchase"
             ng-model="ContentHome.data.pointsPerVisit">
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row" ng-if="ContentHome.settings.purchaseOption.value !== 'perProductsPurchased'">
    <div class="labels col-xs-3 pull-left">
      <span>Points per Dollar</span>
    </div>
    <div class="main col-xs-9 pull-right">
      <input type="number" class="form-control" placeholder="Points per Dollar"
             ng-model="ContentHome.data.pointsPerDollar">
    </div>
  </div>
  <hr class="none" ng-if="ContentHome.settings.purchaseOption.value !== 'perProductsPurchased'">
  <div class="item clearfix row">
    <div class="labels col-xs-3 pull-left">
      <span>Daily Limit</span>
    </div>
    <div class="main col-xs-9 pull-right">
      <input type="number" class="form-control" placeholder="Daily Limit"
             ng-model="ContentHome.data.dailyLimit">
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-xs-3 pull-left">
      <span>Total Limit</span>
    </div>
    <div class="main col-xs-9 pull-right">
      <input type="number" class="form-control" placeholder="Total Limit"
             ng-model="ContentHome.data.totalLimit">
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-xs-3 pull-left">
      <span>Add Points Passcode</span>
    </div>
    <div class="main col-xs-9 pull-right">
      <input type="text" class="form-control"
             placeholder="Add Points Passcode"
             ng-model="ContentHome.data.redemptionPasscode" maxlength="5">
    </div>
  </div>
  <hr>
  <div class="item clearfix row">
    <div class="col-xs-12 margin-top-five" ng-if="ContentHome.invalidApplicationParameters">
      <div class="alert alert-sm text-center alert-danger">Please enter valid data.
      </div>
    </div>
  </div>
  <hr>
  <div class="item clearfix row">
    <div class="main col-md-9 pull-right padding-left-zero row">
      <div class="pull-left inner-main col-md-8 padding-zero">
        <a class="btn btn-success stretch" href="#/reward">Add New Item</a>
      </div>
    </div>
  </div>
  <hr>
  <div class="item clearfix">
    <div ng-if="ContentHome.loyaltyRewards.length"
        class="tab-order draggable-list-view wide-list has-btn-link border-grey border-radius-four">
      <div>
        <div ui-sortable="ContentHome.rewardsSortableOptions"
             ng-model="ContentHome.loyaltyRewards">
          <div class="d-item double-line square-icon clearfix"
               ng-repeat="reward in ContentHome.loyaltyRewards">
            <span class="icon icon-menu pull-left cursor-grab"></span>
            <div class="media-holder pull-left">
              <img load-image="1x1" data-final-src="{{reward.listImage | getImageUrl : 60:60}}"
                   ng-if="reward.listImage">
              <img src="../../../../styles/media/holder-1x1.png" ng-if="!reward.listImage">
            </div>
            <div class="copy pull-right">
              <div class="col-md-7 padding-zero pull-left">
                <a class="text-primary" href="javascript:void(0);" ng-click="ContentHome.openReward(reward, $index)">
                  <span
                      class="title ellipsis pull-left">{{reward.title}}</span>
                </a>
                <span class="title ellipsis pull-left" ng-if="reward.pointsToRedeem != '38762499627'">{{reward.pointsToRedeem}} Points</span>
              </div>
              <div class="pull-right padding-top-fifteen">
                <span
                    class="btn-icon btn-delete-icon btn-danger transition-third"
                    ng-click="ContentHome.removeLoyalty(reward._id, $index)"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="padded" ng-if="!ContentHome.loyaltyRewards.length">
      <div class="well text-center">No rewards found.</div>
    </div>
  </div>
</div>