<div class="loyalty-plugin">
	<button class="link-button close-button" ng-click="ContentReward.goBack()">
        <i class="glyphicon glyphicon-remove"></i>
    </button>
	<div class="item clearfix row" style="margin-top: 50px;">
		<div class="labels col-md-3 pull-left">
			<span>Item Title <span class ="red">*</span></span>
		</div>
		<div class="main col-md-9 pull-right">
			<input type="text" class="form-control" placeholder="Item Title" ng-model = "ContentReward.item.title">
		</div>
	</div>
	<div class="item clearfix row" ng-if="ContentReward.validations.title">
		<div class="labels col-md-3 pull-left"> </div>
		<div class="col-md-9 margin-top-five pull-right">
		  <div class="alert alert-sm text-center alert-danger">Title is a required field.
		  </div>
		</div>
	</div>
	<hr class="none">
	<div id="listImage"></div>
	<hr class="none">
	<div class="item clearfix row">
		<div class="labels col-md-3 pull-left">
			<span>Deep Link URL</span>
		</div>
		<div class="main col-md-9 pull-right">
			<p>{{ContentReward.item.deepLinkUrl}}</p>
		</div>
	</div>
	<hr>
	<hr class="none">
	<div id="carouselReward"></div>
  <br ng-if="!ContentReward.item.carouselImage.length">
  <div class="padded" ng-if="!ContentReward.item.carouselImage.length">
    <div class="well text-center">No images found.</div>
  </div>
	<hr class="none">
	<div class="item clearfix row">
		<div class="labels col-md-3 pull-left tooltip-container">
			<span>Cost to Redeem <span class ="red">*</span></span>
			<span class="tip btn-info-icon btn-primary"><span class="cp-tooltip">If this field is  blank, then “Points per Item” cannot be blank. If this field has a value greater than zero, then this item will show up as a reward to redeem on the Loyalty feature’s main screen</span>
		</div>
		<div class="main col-md-9 pull-right">
			<input ng-if="ContentReward.item.pointsToRedeem != '38762499627'" type="text" class="form-control" placeholder="Points to Redeem" ng-model = "ContentReward.item.pointsToRedeem">
			<input ng-if="ContentReward.loading && ContentReward.item.pointsToRedeem == '38762499627'" type="text" class="form-control" placeholder="Points to Redeem" >
		</div>
	</div>
	<hr class="none">
	<div class="item clearfix row">
		<div class="labels col-md-3 pull-left tooltip-container">
			<span>Points Earned <span class ="red">*</span></span>
			<span class="tip btn-info-icon btn-primary"><span class="cp-tooltip second-tooltip">If this field is  blank, then “Points to Redeem” cannot be blank. This item will be treated as an item that can earn users points if all of the following criteria are met: (i) on the settings tab, “Set How Users Get Points” is set to “Per Products Purchased” and (ii) “Points per Item” is set to a value greater than zero.</span>
		</div>
		<div class="main col-md-9 pull-right">
			<input type="text" class="form-control" placeholder="Points per Item" ng-model = "ContentReward.item.pointsPerItem">
		</div>
	</div>
	<div class="item clearfix row" ng-if="ContentReward.validations.points">
		<div class="labels col-md-3 pull-left"> </div>
		<div class="col-md-9 margin-top-five pull-right">
		  <div class="alert alert-sm text-center alert-danger">Please fill in either Points to Redeem or Points per Purchase
		  </div>
		</div>
	</div>
	<hr class="none">
	<div class="item clearfix row">
		<div class="main col-md-12 pull-right">
    <textarea id="text" ui-tinymce="ContentReward.bodyWYSIWYGOptions"
			  class="form-control" rows="5" width="100%"
			  ng-model="ContentReward.item.description"></textarea>
		</div>
	</div>
	<hr class="none">
<!--<div id="background"></div>-->
	<hr class="none">
	<div class="item clearfix row">
		<div class="main col-md-9 pull-right">
			<div class="col-md-6 pull-right padding-right-zero padding-left-ten">
				<button class="btn btn-primary pull-right stretch"
						ng-disabled="ContentReward.loading"
						ng-click="ContentReward.addingReward()">
					Done
				</button>
			</div>
		</div>
	</div>
</div>