<div class="loyalty-plugin add-reward-page">
	<div>
		<label><a ng-click="ContentReward.goBack()">Content</a> / 
			<span ng-if="ContentReward.item._id"> {{ContentReward.item.title}}</span>
			<span  ng-if="!ContentReward.item._id"> New Item</span>	

		</label>
	</div>
	<h1>Item Images</h1>
	<div id="listImage" class="listImage"></div>
	<hr class="none">
	<div id="carouselReward"></div>
  <br ng-if="!ContentReward.item.carouselImage.length">
  
  <h1>Item Details</h1>

	<div class="item clearfix row" style="margin-top: 50px;">
		<div class="labels col-md-3 pull-left">
			<span>Title<span class ="red">*</span></span>
		</div>
		<div class="main col-md-9 pull-right">
			<input type="text" class="form-control" ng-model = "ContentReward.item.title">
		</div>
	</div>
	<div class="item clearfix row" ng-if="ContentReward.validations.title">
		<div class="labels col-md-3 pull-left"> </div>
		<div class="col-md-9 margin-top-five pull-right">
		  <div class="alert alert-sm text-center alert-danger">Title is a required field.
		  </div>
		</div>
	</div>
	<hr class="none">
	
	<div class="item clearfix row">
		<div class="labels col-md-3 pull-left tooltip-container">
			<span>Cost to Redeem<span class="text-danger">*</span></span>
			<span class="tip btn-info-icon btn-primary"><span class="cp-tooltip">If this field is  blank, then “Points per Item” cannot be blank. If this field has a value greater than zero, then this item will show up as a reward to redeem on the Loyalty feature’s main screen</span>
		</div>
		<div class="main col-md-9 pull-right">
			<input ng-if="ContentReward.item.pointsToRedeem != '38762499627'" type="number" class="form-control"  ng-model = "ContentReward.item.pointsToRedeem">
			<input ng-if="ContentReward.loading && ContentReward.item.pointsToRedeem == '38762499627'" type="number" class="form-control" >
		</div>
	</div>
	<hr class="none">
	<div class="item clearfix row">
		<div class="labels col-md-3 pull-left tooltip-container">
			<span>Points Earned<span class ="red">*</span></span>
			<span class="tip btn-info-icon btn-primary"><span class="cp-tooltip second-tooltip">If this field is  blank, then “Points to Redeem” cannot be blank. This item will be treated as an item that can earn users points if all of the following criteria are met: (i) on the settings tab, “Set How Users Get Points” is set to “Per Products Purchased” and (ii) “Points per Item” is set to a value greater than zero.</span>
		</div>
		<div class="main col-md-9 pull-right">
			<input type="number" class="form-control"  ng-model = "ContentReward.item.pointsPerItem">
		</div>
	</div>
	<div class="item clearfix row" ng-if="ContentReward.validations.points">
		<div class="labels col-md-3 pull-left"> </div>
		<div class="col-md-9 margin-top-five pull-right">
		  <div class="alert alert-sm text-center alert-danger">Please fill in either Points to Redeem or Points per Purchase
		  </div>
		</div>
	</div>
	<hr class="none">
	<div class="item clearfix row">
		<div class="main col-md-12 pull-right">
    <textarea id="text" ui-tinymce="ContentReward.bodyWYSIWYGOptions"
			  class="form-control" rows="5" width="100%"
			  ng-model="ContentReward.item.description"></textarea>
		</div>
	</div>
	<hr class="none">
	<div id="actionItems" style="margin-bottom:50px;"></div>
	<hr class="none">
	<div class="bottom-actions" style="z-index: 1">
		<div class="main col-md-9 pull-right" style="margin-right: 1px; margin-top: 5px;">
			<div class="col-md-6 pull-right padding-right-zero padding-left-ten">
				<a class="btn btn-success pull-right btn-save"
						ng-disabled="ContentReward.loading || ContentReward.item.listImage == ''|| ContentReward.item.pointsPerItem=='' || ContentReward.item.pointsToRedeem=='' || ContentReward.item.title == ''"
						ng-click="ContentReward.addingReward()">
					Save
				</a>
				<a class="btn btn-light pull-right cancel-btn"
						ng-click="ContentReward.goBack()">
					Cancel
				</a>
				
			</div>
		</div>
	</div>
</div>