<div class="loyalty-plugin">
	<div class="item clearfix row">
		<div class="labels col-md-3 pull-left">
			<span>Item Title</span>
		</div>
		<div class="main col-md-9 pull-right">
			<input type="text" class="form-control" placeholder="Item Title">
		</div>
	</div>
	<hr class="none">
	<div class="item clearfix row">
		<div class="labels col-md-3 pull-left">
			<span>List Image</span>
		</div>
		<div class="main pull-right col-md-9">
			<div class="screens clearfix">
	        	<div class="wideicon screen text-center layouticon pull-left">
	          		<a class="border-radius-three default-background-hover text-center">
	            		<img src="http://www.placehold.it/60x60">
						<span class="add-icon">+</span>
	          		</a>
	          		<span class="icon btn-icon btn-delete-icon btn-danger transition-third"></span>
	       		</div>
	      	</div>
		</div>
	</div>
	<hr class="none">
	<div class="item clearfix row">
		<div class="labels col-md-3 pull-left">
			<span>Deep Link URL</span>
		</div>
		<div class="main col-md-9 pull-right">
			<p>deeplinkurl goes here</p>
		</div>
	</div>
	<hr>
	<hr class="none">
	<div class="carousel">carousel</div>
	<hr class="none">
	<div class="item clearfix row">
		<div class="labels col-md-3 pull-left">
			<span>Points to Redeem</span>
		</div>
		<div class="main col-md-9 pull-right">
			<input type="text" class="form-control" placeholder="Points to Redeem">
		</div>
	</div>
	<hr class="none">
	<div class="wysiwyg">wysiwyg</div>
	<hr class="none">
	<div class="item clearfix row">
		<div class="labels col-md-3 pull-left">
			<span>Background Image</span>
		</div>
		<div class="main col-md-9 pull-right">
			Background Image Component Goes here
		</div>
	</div>
</div>