.container {
    width: initial;
}

.table {
    margin-top: 20px;
}

.table > thead > tr > th {
    font-weight: bold;
}

.link-button {
    background: transparent;
    border: none;
    text-align: center;
}

.details-button {
    color: #00a5ec;
}

.close-button {
    position: absolute;
    right: 50px;
    top: 10px;
    width: 20px;
}

i {
    font-size: 20px;
    padding: 10px;
}

.transactions {
    height: 400px;
    overflow-y: scroll;
}
.transaction-tb {
    width: 100%;
    margin-top: 10px;
}

table{
    border:none;
   }
   
   td, th {
     color: black;
     border-bottom: 1px solid #dddddd;
   }
   .td-left {
     border-left:1px solid #dddddd
   }
   .td-right {
     border-right: 1px solid #dddddd;
   }
table > tbody > tr > td {
    padding: 5px !important;
}


.btn-icon:hover, .date-th:hover {
    cursor: pointer;
}

.details-container {
    border-radius: 4px;
    background-color: #F2F2F2;
    margin-top: 20px;
    padding: 8px 16px 4px 16px
}

.title {
    color: black;
    font-weight: 500;
}

.row > div {
    margin-bottom: 7px;
}
.spin::before {
    animation: 0.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 4px transparent;
    border-bottom-color: #05ACF0;
    border-radius: 50%;
    content: "";
    height: 1.2rem;
    width: 1.2rem;
    margin-top: 16px;
    text-align: center ;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
  }
  @keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }


	.EmptyModal {
		position: fixed; 
		z-index: 1;
		padding-top: 100px; 
		left: 0;
		top: 0;
		width: 100%; 
		height: 100%; 
		overflow: auto;
		background-color:  #ffffff83;;
	}
	
	.hide{
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s, opacity 0.5s linear;
	}
	.show{
		visibility: visible;
		opacity: 1;
	}
	.modal-content {
		background-color: #fefefe;
		margin: auto;
		border: 0.1px solid rgba(136, 136, 136, 0.486);
		border-radius: 4px;
		width: 60%;
		height: 25%;
	}
	
	
	.loader {
		border: 6px solid #f3f3f3;
		border-radius: 50%;
		border-top: 4px solid var(--c-primary);
		width: 30px;
		height: 30px;
		-webkit-animation: spin 1s linear infinite; 
		animation: spin 1s linear infinite;
	}
	
	@-webkit-keyframes spin {
		0% { -webkit-transform: rotate(0deg); }
		100% { -webkit-transform: rotate(360deg); }
	}
	
	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
	
	
	.modalHeader{
		width: 100%;
		height: 40px;
		background: #edf0f0;
		padding: 5px;
		margin: 0;
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
		align-items: stretch;
		padding: 10px;
	}
	
	.modalHeader p{
		color: #5f5f5f;
		height: 28px;
		text-align: center;
		font-style: bold;
		font-weight: bold;
	}
	
	.messageModalContainer{
		display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			align-items: center;
	}