<div class="holder padding-zero amount-holder" ng-controller="WidgetAmountCtrl as
     WidgetAmount">

  <h5 class="text-center margin-bottom-thirty">Enter the Purchase Amount</h5>
  <form name="myform">
    <div class="enter-price">
      <span class="currency"
            ng-bind-html="WidgetAmount.safeHtml(WidgetAmount.data.settings.currency.symbol ||'$')"></span>
      <input min="0" type="number" placeholder="0"
              class="form-control text-right border-none"
              ng-model="WidgetAmount.amount" get-focus ng-click="WidgetAmount.preventClickBehavior($event)">
    </div>
  </form>
  <div class="next-btn margin-top-twenty">
    <button class="btn btn-primary stretch margin-top"
            href="javascript:void(0);" ng-click="WidgetAmount.confirmCode()"
            ng-disabled="!(WidgetAmount.amount > 0) || !myform.$valid"
        >Next
    </button>
  </div>

  <div class="alert alert-sm text-center alert-danger"
        ng-if="WidgetAmount.totalLimitExceeded">You have
    exceeded the total limit.
  </div>

</div>