<!DOCTYPE html>
<html lang="en" ng-app="buildfire">
<head>

    <!-- CSS -->
    <link rel="stylesheet" href="../../../../styles/bootstrap.css">
    <link rel="stylesheet" href="../../../../styles/appStyle.css">
    <link rel="stylesheet" href="../../../../styles/helper.css">

	<!-- Plugin CSS -->
    <link rel="stylesheet" href="../styles/style.css">

	<!-- BuildFire JS -->
	<script type="text/javascript" src="../../../scripts/buildfire.js"></script>
    
    <!-- Meta -->
	<meta charset="utf-8">	
</head>
<div class="holder padding-zero">
	<div class="loyalty-plugin amount">				
		<div class="purchase-amount padded margin-top-ten">
			<p class="text-center">Awesome!<br>You just earned yourself <span style="font-weight:400;">75 Points!</span><br>Check out our list of rewards to redeem.</p>
			<div class="next-btn margin-top-twenty">
				<a class="btn btn-primary stretch margin-top">Done</a>
			</div>
		</div>
	</div>
</div>