<div class="holder awarded-holder padding-zero"
     ng-controller="WidgetAwardedCtrl as WidgetAwarded">
  <div class="loyalty-plugin amount">
    <div class="purchase-amount padded margin-top-ten">
      <h5 class="text-center">Awesome!</h5>
        <p class="text-center">You just earned yourself</p>
        <h4 class="text-center">{{WidgetAwarded.pointsAwarded}}</h4>
        <p class="text-center">Points!</p>
        <p class="text-center check-rewards"> Check out our list of rewards to redeem.</p>

      <div class="next-btn margin-top-twenty">
        <a class="btn btn-primary stretch margin-top" href="javascript:void(0);"
           ng-click="WidgetAwarded.goToHome()">Done</a>
        <input class="hide-input" type="text" get-focus>
      </div>
    </div>
  </div>
</div>