<div class="holder padding-zero"
     ng-controller="WidgetAwardedCtrl as WidgetAwarded">
  <div class="loyalty-plugin amount">
    <div class="purchase-amount padded margin-top-ten">
      <p class="text-center">Awesome!<br>You just earned yourself <span
          style="font-weight:400;">{{WidgetAwarded.pointsAwarded}} Points!</span><br>Check
        out our list of rewards to redeem.</p>

      <div class="next-btn margin-top-twenty">
        <a class="btn btn-primary stretch margin-top" href="javascript:void(0);"
           ng-click="WidgetAwarded.goToHome()">Done</a>
      </div>
    </div>
  </div>
</div>