<!DOCTYPE html>
<html lang="en" ng-app="buildfire">
<head>

    <!-- CSS -->
    <link rel="stylesheet" href="../../../../styles/bootstrap.css">
    <link rel="stylesheet" href="../../../../styles/appStyle.css">
    <link rel="stylesheet" href="../../../../styles/helper.css">

	<!-- Plugin CSS -->
    <link rel="stylesheet" href="../styles/style.css">

	<!-- BuildFire JS -->
	<script type="text/javascript" src="../../../scripts/buildfire.js"></script>
    
    <!-- Meta -->
	<meta charset="utf-8">	
</head>
<div class="holder padding-zero">
	<div class="loyalty-plugin">				
		<div class="purchase-amount padded margin-top-ten">
			<p class="text-center">Please hand your device to a staff member for confirmation</p>
			<div class="enter-price clearfix border-bottom-grey">
				<input type="password" placeholder="Enter Code" class="form-control text-center border-none">
			</div>
			<div class="next-btn margin-top-twenty">
				<a class="btn btn-success stretch">Confirm</a>
			</div>
		</div>
		<div class="col-xs-12 margin-top-five">
			<div class="alert alert-sm text-center alert-danger">Invalid confirmation code.</div>
		</div>
	</div>
</div>