<div class="holder padding-zero" ng-controller="WidgetRedeemCtrl as
     WidgetRedeem">
  <div class="loyalty-plugin">
    <div id="carousel3" ng-if="WidgetRedeem.reward.carouselImage.length"
         build-fire-carousel3="" ng-style="WidgetRedeem.reward.carouselImage.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}"></div>
    <div class="plugin-slider text-center" ng-if="!WidgetRedeem.reward.carouselImage.length">
      <div class="plugin-slide">
        <img src="../../../styles/media/holder-16x9.png">
      </div>
    </div>
    <div ng-if="WidgetRedeem.reward">
      <div class="detail-header">
        <div style="width: 100%;">
          <p class="redeem-title">{{WidgetRedeem.reward.title}}</p>

          <h5 class="margin-zero ellipsis opacity-seventy">
            {{WidgetRedeem.reward.pointsToRedeem}} {{WidgetRedeem.strings["general.points"]}}</h5>
        </div>
      </div>
      <div class="editor padded redeem-title">
        <p>{{WidgetRedeem.strings["redeem.importantNote"]}}</p>

        <div class="confirm-cancel">
          <div class="text-center margin-bottom-fifteen">
            <a class="btn btn-success stretch" href="javascript:void(0);"
            ng-click="WidgetRedeem.redeemPoints(WidgetRedeem.reward._id)">{{WidgetRedeem.strings["general.confirm"]}}</a>
          </div>
          <div class="text-center">
            <a class="btn-text bodyTextTheme stretch" href="javascript:void(0);"
                ng-click="WidgetRedeem.backToHome()">{{WidgetRedeem.strings["general.cancel"]}}</a>
          </div>
        </div>
        <br>

        <div class="col-xs-12 margin-top-five">
          <div class="alert alert-sm text-center alert-danger"  ng-if="WidgetRedeem.redeemFail">{{WidgetRedeem.strings["redeem.errorRedeem"]}}
          </div>
          <div class="alert alert-sm text-center alert-danger"
               ng-if="WidgetRedeem.dailyLimitExceeded">{{WidgetRedeem.strings["redeem.redeemDailyLimit"]}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>