<div class="holder padding-zero" ng-controller="WidgetRedeemCtrl as
     WidgetRedeem">
  <div class="loyalty-plugin">
    <div id="carousel3" ng-if="WidgetRedeem.reward.carouselImage.length"
         build-fire-carousel3=""></div>
    <div class="plugin-slider text-center" ng-if="!WidgetRedeem.reward.carouselImage.length">
      <div class="plugin-slide">
        <img src="assets/images/16x9.png">
      </div>
    </div>
    <div class="padded">
      <div class="clearfix row">
        <div class="col-xs-8 pull-left">
          <p class="margin-zero ellipsis">{{WidgetRedeem.reward.title}}</p>

          <p class="margin-zero ellipsis opacity-seventy">
            {{WidgetRedeem.reward.pointsToRedeem}} Points</p>
        </div>
      </div>
      <hr class="small">
      <div class="editor">
        <p>Important: By clicking confirm, you are confirming that the reward
          has been received and the corresponding points will, therefore, be
          deducted from the user's account.</p>

        <div class="clearfix row">
          <div class="col-xs-6 pull-left padding-right-five">
            <a class="btn btn-danger stretch" href="javascript:void(0);"
               ng-click="WidgetRedeem.backToHome()">Cancel</a>
          </div>
          <div class="col-xs-6 pull-right padding-left-five">
            <a class="btn btn-success stretch" href="javascript:void(0);"
               ng-click="WidgetRedeem.redeemPoints(WidgetRedeem.reward._id)">Confirm</a>
          </div>
        </div>
        <br>

        <div class="col-xs-12 margin-top-five">
          <div class="alert alert-sm text-center alert-danger"  ng-if="WidgetRedeem.redeemFail">Error
            redeeming reward. Please try again later.
          </div>
          <div class="alert alert-sm text-center alert-danger"
               ng-if="WidgetRedeem.dailyLimitExceeded">You have
            exceeded the daily limit.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>