
<div class="holder padding-zero">
	<div class="loyalty-plugin">				
		<div class="plugin-slider text-center">
			<div class="plugin-slide">
				<img src="http://www.placehold.it/1280x720.jpg">
			</div>
		</div>
		<div class="padded">
			<div class="clearfix row">
				<div class="col-xs-8 pull-left">
					<p class="margin-zero ellipsis">Day Spa Package</p>
					<p class="margin-zero ellipsis opacity-seventy">200 Points</p>
				</div>
			</div>
			<hr class="small">
			<div class="editor">
				<p>Important: By clicking confirm, you are confirming that the reward has been received and the corresponding points will, therefore, be deducted from the user's account.</p>
				<div class="clearfix row">
					<div class="col-xs-6 pull-left padding-right-five">
						<a class="btn btn-danger stretch">Cancel</a>
					</div>
					<div class="col-xs-6 pull-right padding-left-five">
						<a class="btn btn-success stretch">Confirm</a>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>