<div class="holder padding-zero">
	<div class="loyalty-plugin">				
		<div class="plugin-slider text-center">
			<div class="plugin-slide">
        <img src="assets/images/16x9.png">
			</div>
		</div>
		<div class="padded">
			<div class="clearfix row">
				<div class="col-xs-8 pull-left">
					<p class="margin-zero ellipsis">Day Spa Package</p>
					<p class="margin-zero ellipsis opacity-seventy">200 Points</p>
				</div>
				<div class="col-xs-4 pull-right">
					<a class="btn btn-primary stretch">Redeem</a>
				</div>
			</div>
			<hr class="small">
			<div class="editor">
				<p class="margin-zero">wysiwyg editor goes here.</p>
			</div>	
		</div>
	</div>
</div>