<div class="holder padding-zero" ng-controller="WidgetItemCtrl as WidgetItem">
  <div class="loyalty-plugin" ng-if="WidgetItem.reward">
    <div id="carousel2" ng-if="WidgetItem.reward.carouselImage.length"
         build-fire-carousel2="" ng-style="WidgetItem.reward.carouselImage.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}"></div>
    <div ng-if="WidgetItem.reward">
        <div ng-if="WidgetItem.reward.listImage != null">
          <img  load-image="1x1" style="width: 100%; height:211px"
          crop-width="380" crop-height="380" crop-type="crop" data-final-src="{{WidgetItem.reward.listImage}}" />
        </div>
        <div style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;margin: 16px;">
          <div>
            <p class="redeem-title">{{WidgetItem.reward.title}}</p>

            <label class="redeem-points" ng-if="WidgetItem.reward.pointsToRedeem">
              {{WidgetItem.reward.pointsToRedeem}} {{WidgetItem.strings["general.points"]}}</label>
            <label class="redeem-points" ng-if="WidgetItem.reward.earnPoint">
              {{WidgetItem.reward.earnPoint}} {{WidgetItem.strings["general.points"]}}</label>
          </div>
          <div ng-show="!WidgetItem.isReward">
              <a class="btn btn-primary stretch" href="javascript:void(0);"
                 ng-click="WidgetItem.confirmCancel()">{{WidgetItem.strings["general.redeem"]}}</a>
          </div>
        </div>
      <div class="editor padded word-break" style="margin: 0 8px">
        <p class="margin-zero"
           ng-bind-html="WidgetItem.safeHtml(WidgetItem.reward.description)"></p>
      </div>
    </div>
    <div class="col-xs-12 margin-top-five" ng-if="WidgetItem.insufficientPoints">
      <div class="alert alert-sm text-center alert-danger">{{WidgetItem.strings["redeem.insufficientFunds"]}}
      </div>
    </div>
  </div>
</div>

<script>
  buildfire.appearance.getAppTheme((err, appTheme) => {
          let redeemTitle = document.querySelector(".redeem-title");
          redeemTitle.style.color = appTheme.colors.titleBar;

          let redeemPoints = document.querySelector(".redeem-points");
          redeemPoints.style.color = appTheme.colors.primaryTheme
          
          let btnPrimaries = document.querySelectorAll(".btn-primary")
          btnPrimaries.forEach(el => {
            el.style.backgroundColor = appTheme.colors.primaryTheme
          })
        })
</script>