<div class="holder padding-zero" ng-controller="WidgetItemCtrl as WidgetItem">
  <div class="loyalty-plugin" ng-if="WidgetItem.reward">
    <div id="carousel2" ng-if="WidgetItem.reward.carouselImage.length"
         build-fire-carousel2="" ng-style="WidgetItem.reward.carouselImage.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}"></div>
    <div ng-if="WidgetItem.reward">
      <div class="detail-header word-break">
        <div class="margin-right-fifteen">
          <p>{{WidgetItem.reward.title}}</p>

          <h5 class="ellipsis opacity-seventy">
            {{WidgetItem.reward.pointsToRedeem}} {{WidgetItem.strings["general.points"]}}</h5>
        </div>
        <div class="">
          <a class="btn btn-primary stretch" href="javascript:void(0);"
             ng-click="WidgetItem.confirmCancel()">{{WidgetItem.strings["general.redeem"]}}</a>
        </div>
      </div>
      <div class="editor padded word-break">
        <p class="margin-zero"
           ng-bind-html="WidgetItem.safeHtml(WidgetItem.reward.description)"></p>
      </div>
    </div>
    <div class="col-xs-12 margin-top-five" ng-if="WidgetItem.insufficientPoints">
      <div class="alert alert-sm text-center alert-danger">{{WidgetItem.strings["redeem.insufficientFunds"]}}
      </div>
    </div>
  </div>
</div>