<div class="holder padding-zero layout1">
 
  <div class="icon-button" ng-if="WidgetHome.isEmployer">
    <button ng-click="WidgetHome.openApprovalRequests()" class="icon ">
      <span class="material-icons">manage_accounts</span>
    </button>
  </div>
  <div class="icon-button" ng-if="WidgetHome.isClient">
    <button ng-click="WidgetHome.openRewardsPage()" class="icon ">
      <span class="material-icons">workspace_premium</span>
    </button>
  </div>
  <div class="loyalty-plugin" data-ng-init="setWidth()">
    <div id="carousel" ng-if="WidgetHome.carouselImages.length"
         build-fire-carousel=""
         ng-style="WidgetHome.carouselImages.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}"></div>
    <div class="description word-break"
         ng-if="WidgetHome.showDescription(WidgetHome.description)">
      <p ng-bind-html='WidgetHome.safeHtml(WidgetHome.description)'></p>
    </div>
    <div class="current-points" ng-if="WidgetHome.carouselImages && WidgetHome.loyaltyRewards">
      <div class="text-center">
        <p ng-if="!(WidgetHome.currentLoggedInUser && WidgetHome.currentLoggedInUser._id)"><span
            class="text-primary"><a href="javascript:void(0);"
                                    ng-click="WidgetHome.openLogin()">{{WidgetHome.strings["general.loginOrRegister"]}}</a></span> 
                                    <span>{{WidgetHome.strings["general.toGetPoints"]}}</span></p>

        <p ng-if="WidgetHome.currentLoggedInUser && WidgetHome.currentLoggedInUser._id">
          <span>{{WidgetHome.strings["general.currentlyHave"]}} </span><span
                class="text-primary">{{loyaltyPoints | number : 2}}</span> <span style="text-transform: lowercase;">{{WidgetHome.strings["general.points"]}}</span>.
        </p>
        <p ng-if="WidgetHome.currentLoggedInUser && WidgetHome.currentLoggedInUser._id && PointsWaitingForApproval > 9">
          <span class="text-primary">{{PointsWaitingForApproval}}</span> <span style="text-transform: lowercase;">points waiting for approval</span>.
        </p>
        <a class="btn btn-primary padding-left-twenty padding-right-twenty"
           href="javascript:void(0);"
           ng-disabled="!WidgetHome.applicationExists"
           ng-click="WidgetHome.openGetPoints()"
            >{{WidgetHome.strings["general.getMore"]}}</a>
      </div>
    </div>
    <div class="list-grid" ng-if="WidgetHome.loyaltyRewards && WidgetHome.carouselImages">
      <div ng-show="WidgetHome.loyaltyRewards.length > 0" class="list-item has-info-bar" ng-repeat="reward in WidgetHome.loyaltyRewards | filter: { pointsToRedeem: '!38762499627' }">
        <div class="list-item-media text-center" ng-click="WidgetHome.openReward(reward, $index)">
          <div class="list-media-holder">
            <img load-image="1x1"
                  crop-width="380" crop-height="380" crop-type="crop"
                  data-final-src="{{reward.listImage}}" ng-if="reward.listImage">
            <img src="../../../styles/media/holder-1x1.png" ng-if="!reward.listImage">
          </div>
          <div class="info-bar bg-primary">
            <p class="margin-bottom-zero col-md-12 ellipsis whiteTheme">
              {{reward.pointsToRedeem}}
              <span class="whiteTheme">{{WidgetHome.strings["general.points"]}}</span></p>
          </div>
        </div>
        <div class="copy margin-top-five text-center">
          <p class="ellipsis text-primary">
            <a class="text-primary" href="javascript:void(0);"
                ng-click="WidgetHome.openReward(reward, $index)">{{reward.title}}</a>
          </p>
        </div>
      </div>
      
    </div>
    <div ng-show="WidgetHome.loyaltyRewards.length == 0">
      <div id="empty_state">
        <img src="./assets/.images/ic_bookmark_empty.svg" />
        <label style="color:black;font-weight: bold;margin-top: 32px;font-size: 16px;">Nothing To Redeem Yet</label>
        <label style="margin-top: 8px;font-size:14px;font-weight: 400;">Rewards will appear here</label>
      </div>

    </div>
  </div>
</div>


<script>
  buildfire.appearance.getAppTheme((err, appTheme) => {
       if (err) return console.error(err);
       let icons = document.querySelectorAll(".icon");
       icons.forEach(el => {
        el.style.color = appTheme.colors.icons
        })
       
       
     });
</script>