<div class="holder padding-zero">
  <div class="loyalty-plugin">
    <div id="carousel" ng-if="WidgetHome.carouselImages" build-fire-carousel=""></div>
    <div class="plugin-slider text-center" ng-if="!WidgetHome.carouselImages">
      <div class="plugin-slide">
        <img src="assets/images/16x9.png">
      </div>
    </div>
    <div class="padded">
      <div class="text-center">
        <p ng-if="!WidgetHome.currentLoggedInUser"><span
            class="text-primary"><a href="javascript:void(0);" ng-click="WidgetHome.openLogin()">Log in
          or register</a></span> to
          get points</p>

        <p ng-if="WidgetHome.currentLoggedInUser && WidgetHome.loyaltyPoints">You currently have <span
            class="text-primary">{{WidgetHome.loyaltyPoints}}</span> points.
        </p>
        <a class="btn btn-primary padding-left-twenty padding-right-twenty"
           href="javascript:void(0);"
           ng-click="WidgetHome.openGetPoints()"
            >Get More Points</a>
      </div>
    </div>
    <div class="list-layout">
      <div class="group-row">
        <div class="list-item col-xs-6 padding-zero has-info-bar pull-left"
             ng-repeat="reward in WidgetHome.loyaltyRewards">
          <div class="list-item-media text-center">
            <div class="list-media-holder">
              <img ng-src="{{reward.listImage| getImageUrl : 171:171}}"
                   ng-if="reward.listImage">
              <img src="assets/images/1x1.png" ng-if="!reward.listImage">
            </div>
            <div class="info-bar bg-primary">
              <p class="margin-bottom-zero col-md-12 ellipsis">{{reward.pointsToRedeem}}
                Points</p>
            </div>
          </div>
          <div class="copy margin-top-five text-center">
            <p class="ellipsis text-primary">
              <a class="text-primary" href="javascript:void(0);"
                 ng-click="WidgetHome.openReward(reward)">{{reward.title}}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>