
<div class="holder padding-zero layout3">
	<div class="loyalty-plugin" data-ng-init="setWidth()">
    <div id="carousel" ng-if="WidgetHome.carouselImages.length" build-fire-carousel=""
         ng-style="WidgetHome.carouselImages.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}"></div>
    <div class="padded padding-bottom-zero" ng-if="WidgetHome.showDescription(WidgetHome.description)">
      <p ng-bind-html='WidgetHome.safeHtml(WidgetHome.description)'></p>
    </div>
		<div class="padded" ng-if="WidgetHome.carouselImages && WidgetHome.loyaltyRewards">
			<div class="text-center">
        <p ng-if="!(WidgetHome.currentLoggedInUser && WidgetHome.currentLoggedInUser._id)"><span
            class="text-primary"><a href="javascript:void(0);" ng-click="WidgetHome.openLogin()">Log in
          or register</a></span> to
          get points</p>

        <p ng-if="WidgetHome.currentLoggedInUser && WidgetHome.currentLoggedInUser._id">You currently have <span
            class="text-primary">{{loyaltyPoints}}</span> points.
        </p>
        <a class="btn btn-primary padding-left-twenty padding-right-twenty"
           href="javascript:void(0);"
           ng-click="WidgetHome.openGetPoints()"
            >Get More Points</a>
			</div>	
		</div>
     	<div class="list-layout">
			<div class="list-item" ng-repeat="reward in WidgetHome.loyaltyRewards">
				<div class="list-item-media text-left overflow-hidden">
					<div class="list-media-holder square-icon pull-left" ng-click="WidgetHome.openReward(reward)">
            <img load-image="1x1"
                 data-final-src="{{reward.listImage | getImageUrl : 60:60}}"
                 ng-if="reward.listImage">
            <img src="../../../styles/media/holder-1x1.png" width="{{WidgetHome.PlaceHolderImageWidth}}" height="{{ WidgetHome.PlaceHolderImageHeight}}" ng-if="!reward.listImage">
					</div>
					<div class="list-item-copy text-left padding-left-ten padding-right-ten">
						<p class="ellipsis margin-zero text-primary margin-top-ten"><a
                class="text-primary" href="javascript:void(0);"
                ng-click="WidgetHome.openReward(reward)">{{reward.title}}</a></p>
						<p class="ellipsis margin-zero opacity-seventy">{{reward.pointsToRedeem}}
              Points</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>