<!DOCTYPE html>
<html lang="en" ng-app="buildfire">
<head>

    <!-- CSS -->
    <link rel="stylesheet" href="../../../../styles/bootstrap.css">
    <link rel="stylesheet" href="../../../../styles/appStyle.css">
    <link rel="stylesheet" href="../../../../styles/helper.css">

	<!-- Plugin CSS -->
    <link rel="stylesheet" href="../styles/style.css">

	<!-- BuildFire JS -->
	<script type="text/javascript" src="../../../scripts/buildfire.js"></script>
    
    <!-- Meta -->
	<meta charset="utf-8">	
</head>
<div class="holder padding-zero layout3">
	<div class="loyalty-plugin">				
		<div class="plugin-slider text-center">
			<div class="plugin-slide">
				<img src="http://www.placehold.it/1280x720.jpg">
			</div>
		</div>
		<div class="padded">
			<div class="text-center">
				<p>You currently have <span class="text-primary">5,000</span> points.</p>
				<a class="btn btn-primary padding-left-twenty padding-right-twenty">Get More Points</a>
			</div>	
		</div>
		<div class="list-layout">
			<div class="list-item">
				<div class="list-item-media text-left overflow-hidden">
					<div class="list-media-holder pull-left">
						<img src="http://www.placehold.it/220x120">
					</div>
					<div class="list-item-copy text-left padding-left-ten padding-right-ten">
						<p class="ellipsis margin-zero text-primary margin-top-ten"><a class="text-primary">This is a Reward Title.</a></p>
						<p class="ellipsis margin-zero opacity-seventy">200 Points</p>
					</div>
				</div>
			</div>
			<div class="list-item">
				<div class="list-item-media text-left overflow-hidden">
					<div class="list-media-holder pull-left">
						<img src="http://www.placehold.it/220x120">
					</div>
					<div class="list-item-copy text-left padding-left-ten padding-right-ten">
						<p class="ellipsis margin-zero text-primary margin-top-ten"><a class="text-primary">This is a Reward Title.</a></p>
						<p class="ellipsis margin-zero opacity-seventy">200 Points</p>
					</div>
				</div>
			</div>
			<div class="list-item">
				<div class="list-item-media text-left overflow-hidden">
					<div class="list-item-copy text-left padding-left-ten padding-right-ten">
						<p class="ellipsis margin-zero text-primary margin-top-ten"><a class="text-primary">This is a title</a></p>
						<p class="ellipsis margin-zero opacity-seventy">200 Points</p>
					</div>
				</div>
			</div>
			<div class="list-item">
				<div class="list-item-media text-left overflow-hidden">
					<div class="list-media-holder pull-left">
						<img src="http://www.placehold.it/220x120">
					</div>
					<div class="list-item-copy text-left padding-left-ten padding-right-ten">
						<p class="ellipsis margin-zero text-primary margin-top-ten"><a class="text-primary">This is a Reward Title.</a></p>
						<p class="ellipsis margin-zero opacity-seventy">200 Points</p>
					</div>
				</div>
			</div>
			<div class="list-item">
				<div class="list-item-media text-left overflow-hidden">
					<div class="list-media-holder pull-left">
						<img src="http://www.placehold.it/220x120">
					</div>
					<div class="list-item-copy text-left padding-left-ten padding-right-ten">
						<p class="ellipsis margin-zero text-primary margin-top-ten"><a class="text-primary">This is a Reward Title.</a></p>
						<p class="ellipsis margin-zero opacity-seventy">200 Points</p>
					</div>
				</div>
			</div>
			<div class="list-item">
				<div class="list-item-media text-left overflow-hidden">
					<div class="list-item-copy text-left padding-left-ten padding-right-ten">
						<p class="ellipsis margin-zero text-primary margin-top-ten"><a class="text-primary">This is a title</a></p>
						<p class="ellipsis margin-zero opacity-seventy">200 Points</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>