
<div class="holder padding-zero">
	<div class="loyalty-plugin">				
		<div class="plugin-slider text-center">
			<div class="plugin-slide">
				<img src="http://www.placehold.it/1280x720.jpg">
			</div>
		</div>
		<div class="padded">
			<div class="clearfix row">
				<div class="col-xs-8 pull-left">
					<p class="margin-zero ellipsis">Day Spa Package</p>
					<p class="margin-zero ellipsis opacity-seventy">200 Points</p>
				</div>
			</div>
			<hr class="small">
			<div class="editor text-center">
				<div class="barcode margin-top-fifteen">
					<img src="http://www.placehold.it/400x80">
				</div>
				<p class="margin-top-ten">wysiwyg editor goes here.</p>
				<a class="btn btn-primary padding-left-thirty padding-right-thirty">Done</a>
			</div>	
		</div>
	</div>
</div>