<div class="holder padding-zero" ng-controller="WidgetSuccessCtrl as
     WidgetSuccess">
  <div class="loyalty-plugin">
    <div id="carousel4" ng-if="WidgetSuccess.reward.carouselImage.length"
         build-fire-carousel4="" ng-style="WidgetSuccess.reward.carouselImage.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}"></div>
    <div class="plugin-slider text-center" ng-if="!WidgetSuccess.reward.carouselImage.length">
      <div class="plugin-slide">
        <img src="../../../styles/media/holder-16x9.png">
      </div>
    </div>
    </div>
    <div ng-if="WidgetSuccess.reward" class="mdc-theme--text-primary-on-background">
      <div class="detail-header">
        <div style="width: 100%">
          <p class="margin-zero redeem-title">{{WidgetSuccess.reward.title}}</p>

          <h5 class="margin-zero ellipsis opacity-seventy">
            {{WidgetSuccess.reward.pointsToRedeem}} {{WidgetSuccess.strings["general.points"]}}</h5>
        </div>
      </div>
      <div class="editor padded text-center">
        <p class="margin-top-ten"
           ng-bind-html="WidgetSuccess.safeHtml(WidgetSuccess.reward.description)"></p>
        <div class="padding-top-thirty">
          <a class="btn btn-primary padding-left-thirty padding-right-thirty"
            href="javascript:void(0);"
            ng-click="WidgetSuccess.goToHome()">{{WidgetSuccess.strings["general.done"]}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
