<div class="flex">
    <label class="tooltip-container col-md-4">Currency Symbol</label>
    <div class="main col-xs-9">
        <div class="dropdown" dropdown>
            <button class="btn btn-default text-left dropdown-toggle"
                    data-toggle="dropdown" dropdown-toggle aria-expanded="true">
                <span class="pull-left"><span ng-bind-html="SettingsHome.convertHtml(SettingsHome.data.settings.currency.symbol||SettingsHome.currency[0].symbol)"></span>&nbsp;&nbsp;&nbsp;&nbsp;{{SettingsHome.data.settings.currency.name||SettingsHome.currency[0].name}}</span>
                <span class="chevron icon-chevron-down pull-right"></span>
            </button  >
            <ul class="dropdown-menu extended" role="menu">
                <li ng-repeat="currency in SettingsHome.currency">
                    <a tabindex="-1"  class="transition-third" ng-click="SettingsHome.changeCurrency(currency)"><span ng-bind-html="SettingsHome.convertHtml(currency.symbol)"></span>&nbsp;&nbsp;&nbsp;&nbsp;{{currency.name}}</a>
                </li>
                <li ng-repeat="currency in SettingsHome.newCurrency">
                    <a tabindex="-1"  class="transition-third" ng-click="SettingsHome.changeCurrency(currency)"><span ng-bind-html="SettingsHome.convertHtml(currency.symbol)"></span>&nbsp;&nbsp;&nbsp;&nbsp;{{currency.name}}</a>
                </li>
                <li onclick="event.stopPropagation();">
                    <div class="input-group">
                        <input type="text" ng-model="SettingsHome.newSymbol.symbol" class="form-control" placeholder="Sybmol" />
                        <span class = "input-group-addon">-</span>
                        <input type="text" ng-model="SettingsHome.newSymbol.name" class="form-control" placeholder="Name" />
                        <span class="input-group-btn">
                          <button class="btn btn-primary" ng-click="SettingsHome.addNewCurrency()" type="button">
                             Add
                          </button>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr class="none">
<div class="flex">
    <label class="tooltip-container col-md-4">Set Approval Type</label>
    <div class="main col-xs-9">
         <span class="radios-row">
          <div class="radio radio-primary radio-inline">
              <input id="onSiteViaPassCode" type="radio" name="approvalType"  value="ON_SITE_VIA_PASSCODE" checked="SettingsHome.data.settings.approvalType=='ON_SITE_VIA_PASSCODE'" ng-model="SettingsHome.data.settings.approvalType">
              <label class="flex subtitles-labels" for="onSiteViaPassCode">On-site via Passcode
               <span class="tooltip-container">
                  <span class="tip btn-info-icon btn-primary"><span class="cp-tooltip">A staff member at the
                  venue will verify points using a passcode that is defined below</span></span>
              </span>
              </label>
              
          </div>
          <div class="radio radio-primary radio-inline">
              <input id="remoteViaApp" type="radio" name="approvalType"  value='REMOVE_VIA_APP' checked="SettingsHome.data.settings.approvalType=='REMOVE_VIA_APP'" ng-model="SettingsHome.data.settings.approvalType">
              <label class="flex subtitles-labels"  for="remoteViaApp">Remote via App
               <span class="tooltip-container">
                  <span class="tip btn-info-icon btn-primary">
                      <span class="cp-tooltip">
                      Only users with these user tags will be allowed to approve or deny points
                      </span>
                  </span>
              </span>
              </label>
          </div>
      </span>
    </div>
</div>

<hr class="none">
<div ng-show="SettingsHome.data.settings.approvalType=='REMOVE_VIA_APP'" class="flex">
    <label class="tooltip-container col-md-4"><span>Points Approver User Tag <span class="text-danger">*</span></span></label>
    <div class="main col-xs-9">
        <div id="customTagsInputContainer"></div>
    </div>
</div>
<hr ng-show="SettingsHome.data.settings.approvalType=='REMOVE_VIA_APP'" class="none">
<div class="flex">
    <label class="tooltip-container col-md-4">
        <span>Staff Confirmation Passcode<span class="text-danger"> *</span></span>
    </label>
    <div class="main col-xs-9">
        <input type="text" class="form-control" ng-model="SettingsHome.data.settings.redemptionPasscode" ng-class="{'border-danger': SettingsHome.validationErrors.redemptionPasscode}" maxlength="5">
        <p class="text-danger" ng-show="SettingsHome.validationErrors.redemptionPasscode">{{SettingsHome.validationErrors.redemptionPasscode}}</p>
        <p ng-show="SettingsHome.redemptionCodeError && SettingsHome.showRedemptionCode" class="text-warning margin-top-five">Staff Confirmation Passcode must consist of 5 characters</p>
    </div>
</div>
<hr class="none">
<div class="flex">
    <label class="tooltip-container col-md-4">Set How User Earns Points</label>
    <div class="main col-xs-9">
        <div class="dropdown" dropdown>
            <button class="btn btn-default text-left dropdown-toggle"
                    data-toggle="dropdown" dropdown-toggle aria-expanded="true">
                <span class="pull-left">{{SettingsHome.data.settings.purchaseOption.name||SettingsHome.purchaseOptions[0].name}}</span>
                <span class="chevron icon-chevron-down pull-right"></span>
            </button  >
            <ul class="dropdown-menu extended" role="menu">
                <li ng-repeat="purchaseOption in SettingsHome.purchaseOptions">
                    <a tabindex="-1"  class="transition-third" ng-click="SettingsHome.changePurchaseOption(purchaseOption)">{{purchaseOption.name}}</a>
                </li>
            
            </ul>
        </div>
    </div>
</div>

<div ng-if="SettingsHome.data.settings.purchaseOption.value != 'scoreFromFreeTextQuestionnaire'">
  <hr class="none">
    <div class="flex">
        <label class="tooltip-container col-md-4">
            <span>Extra Points Per Purchase<span class="text-danger"> *</span></span>
            <span class="btn-info-icon btn-primary">
        <span class="cp-tooltip">
        Offer bonus points for every purchase made by a user
        </span>
    </span>
      </label>
      <div class="main col-xs-9">
        <input type="number" class="form-control" ng-model="SettingsHome.data.settings.pointsPerVisit" ng-class="{'border-danger': SettingsHome.validationErrors.pointsPerVisit}">
        <p class="text-danger" ng-show="SettingsHome.validationErrors.pointsPerVisit">{{SettingsHome.validationErrors.pointsPerVisit}}</p>
      </div>
    </div>
    
    <hr class="none">
    <div ng-if="SettingsHome.data.settings.purchaseOption.value !== 'perProductsPurchased'" class="flex">
        <label class="tooltip-container col-md-4"> <span>Points Per Dollar Spent<span class="text-danger">*</span></span>
            <span class="btn-info-icon btn-primary">
        <span class="cp-tooltip">
       Specify how many points a user can earn per every $1 (or other currency) spent
        </span>
      </span>
        </label>
        <div class="main col-xs-9">
            <input type="number" class="form-control" ng-model="SettingsHome.data.settings.pointsPerDollar" ng-class="{'border-danger': SettingsHome.validationErrors.pointsPerDollar}">
            <p class="text-danger" ng-show="SettingsHome.validationErrors.pointsPerDollar">{{SettingsHome.validationErrors.pointsPerDollar}}</p>
         </div>
    </div>
    
    <hr class="none" ng-if="SettingsHome.data.settings.purchaseOption.value !== 'perProductsPurchased'">
    <div class="flex">
        <label class="tooltip-container col-md-4">
            <span>Daily Points Limit<span class="text-danger"> *</span></span>
            <span class="btn-info-icon btn-primary">
        <span class="cp-tooltip">
       Determine the daily limit for the number of
                points that a user can earn through the rewards program
        </span>
      </span>
        </label>
        <div class="main col-xs-9">
            <input type="number" class="form-control" ng-model="SettingsHome.data.settings.dailyLimit" ng-class="{'border-danger': SettingsHome.validationErrors.dailyLimit}">
            <p class="text-danger" ng-show="SettingsHome.validationErrors.dailyLimit">{{SettingsHome.validationErrors.dailyLimit}}</p>
        </div>
    </div>
    
    <hr class="none">
    <div class="flex">
        <label class="tooltip-container col-md-4">
            <span>Total Points Limit<span class="text-danger"> *</span></span>
            <span class="btn-info-icon btn-primary">
        <span class="cp-tooltip">Specify the maximum number of points that a user can earn through the rewards program
        </span>
      </span>
        </label>
        <div class="main col-xs-9">
            <input type="number" class="form-control" ng-model="SettingsHome.data.settings.totalLimit" ng-class="{'border-danger': SettingsHome.validationErrors.totalLimit}">
            <p class="text-danger" ng-show="SettingsHome.validationErrors.totalLimit">{{SettingsHome.validationErrors.totalLimit}}</p>
        </div>
    </div>
</div>
<div ng-show="SettingsHome.data.settings.purchaseOption.value == 'scoreFromFreeTextQuestionnaire'">
  <hr class="none">
    <div>
        <div class="flex">
            <label class="tooltip-container col-md-4">
                <span>Questionnaire<span class="text-danger">*</span></span>
                <span class="btn-info-icon btn-primary">
        <span class="cp-tooltip">
          You must enable “Calculate score” and “Save Submissions to App Data” options on connected Free Text
            Questionnaire. Points will be calculated and updated after you enter Leaderboard plugin again.
        </span>
      </span>
            </label>
            <div class="main col-xs-9">
                <button class="btn btn-primary pull-right btn-plus-icon-with-text" ng-click="SettingsHome.openActionItemsDialog()">Add Features</button>
            </div>
        </div>
      <div class="item clearfix row">
        <div class="labels col-md-3 pull-left tooltip-container">
        </div>
        <div class="main col-xs-8 pull-right">
          <div   class="action-item-container"  ng-repeat="feature in SettingsHome.ftqFeatureItems" >
            <div style="display: flex;align-items:center;margin-left:12px">
              <img style="width: 42px;height:38px;border-radius: 4px;" ng-src={{feature.iconUrl}}/>
              <div  style="display: flex;flex-direction: column;justify-content: center; margin-left: 16px;">
                <span class="title">{{feature.title}}</span>
                <span class="subTitle">{{feature.pluginTypeName}}</span>
              </div>
            </div>
            <div class="pull-right">
              <span
                  class="btn-icon icon-cross2 icon-remove transition-third "
                  ng-click="SettingsHome.removeActionItemFeature($index)"></span>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
  <hr class="none">
<div class="flex checkbox-field">
    <label class="tooltip-container col-md-3">Deduct Leaderboard Points when redeeming items
        <span class="btn-info-icon btn-primary">
        <span class="cp-tooltip">
      When a user chooses to redeem an item, they will not only lose the number of points
                     required for that item but also the same number of points will be deducted from their
                     leaderboard total in the Leaderboard feature (if you installed one).
        </span>
      </span>
    </label>
    <div class="main ">
        <div class="button-switch col-md-9" style="justify-content: right;margin-right:16px ;">
            <input id="deductLeaderboardPoints" type="checkbox" ng-model="SettingsHome.data.settings.deductLeaderboardPoints">
            <label for="deductLeaderboardPoints" class="label-success"></label>
        </div>
    
    </div>
</div>
<hr class="none">

<div class="flex checkbox-field">
    <label class="tooltip-container col-md-4">Get More Points</label>
    <div class="main ">
        <div class="button-switch col-md-9" style="justify-content: right;margin-right:16px ;">
            <input ng-disabled="SettingsHome.data.settings.purchaseOption.value !== 'scoreFromFreeTextQuestionnaire'" id="getMorePoints" type="checkbox" ng-model="SettingsHome.data.settings.enableGetMorePointsButton">
            <label for="getMorePoints" class="label-success"></label>
        </div>
    
    </div>
</div>

<div class="flex flex-justify-end">
    <p class="info-note margin-top-twenty">The button must remain enabled unless earning points is from the Questionnaire.</p>
</div>


