
.tooltip-container{
	display: flex;
	align-items: center;
}
.tooltip-container .btn-info-icon:after{
	content: 'i';
	font-weight: 400;
	font-size: 12px;
	font-style: normal;
	left: 0;
	top: auto !important;
	left: auto;
}
.tooltip-container .btn-info-icon{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 8px;
	width: 16px;
	height: 16px;
	line-height: 16px;
	color: #fff;
    position: relative;
    margin-bottom: 5px;
}
.tooltip-container .btn-info-icon .cp-tooltip{
	background-color: rgba(0, 0, 0, .75);
	color: #fff;
	padding: 8px;
	border-radius: 4px;
	position: absolute;
	left: calc(100% + 12px);
	cursor: auto;
	font-size: 12px;
	min-width: 160px;
	opacity: 0;
	transform: scale(.1);
	transition: opacity ease .1s, transform ease .1s;
	transform-origin: left;
    pointer-events: none;
    z-index: 100;
    top: -29px;
}

.tooltip-container .btn-info-icon .cp-tooltip2{
	background-color: rgba(0, 0, 0, .75);
	color: #fff;
	padding: 8px;
	border-radius: 4px;
	position: absolute;
	left: calc(100% + 12px);
	cursor: auto;
	font-size: 12px;
	min-width: 160px;
	opacity: 0;
	transform: scale(.1);
	transition: opacity ease .1s, transform ease .1s;
	transform-origin: left;
    pointer-events: none;
    z-index: 100;
    top: -73px !important;
}

.tooltip-container .btn-info-icon .cp-tooltip.second-tooltip{
    top: -105px;
}

.tooltip-container .btn-info-icon:hover .cp-tooltip{
	opacity: 1;
	transform: scale(1);
}
.tooltip-container .btn-info-icon .cp-tooltip::before{
	content: '';
	width: 4px;
	height: 4px;
	border-left: 4px solid rgba(0, 0, 0, .75);
	border-bottom: 4px solid rgba(0, 0, 0, .75);
	border-right: 4px solid transparent;
	border-top: 4px solid transparent;
	position: absolute;
	left: -7px;
	transform: rotate(45deg) translateY(-50%);
	top: 50%;
	bottom: 50%;
}

.tooltip-container .btn-info-icon .cp-tooltip2.second-tooltip{
    top: -105px;
}

.tooltip-container .btn-info-icon:hover .cp-tooltip2{
	opacity: 1;
	transform: scale(1);
}
.tooltip-container .btn-info-icon .cp-tooltip2::before{
	content: '';
	width: 4px;
	height: 4px;
	border-left: 4px solid rgba(0, 0, 0, .75);
	border-bottom: 4px solid rgba(0, 0, 0, .75);
	border-right: 4px solid transparent;
	border-top: 4px solid transparent;
	position: absolute;
	left: -7px;
	transform: rotate(45deg) translateY(-50%);
	top: 50%;
	bottom: 50%;
}



.icon-cross2 {
	color: black;
}

.icon-cross2:hover {
	cursor: pointer;
}

div.col-md-5.text-right.pull-right.padding-right-zero > a {
    display: none;
}

.btn.btn-success{
	width: 9rem !important;
	font-family: 'Conv_apercu_regular';
}

.action-item-container {
	border: 1px solid #DDDDDD;
	display: flex;
	justify-content: space-between;
	padding:8px;
	border-radius: 4px;
	margin-top: 6px;
	align-items: center;
}

.title {
	color: black;
	font-size: 13px;
	font-weight: 400;
	font-family: 'Conv_apercu_regular';

}

.row {
	margin-right: 0 !important;
}

.subTitle {
	color: #5f5f5f;
	font-size: 12px;
	font-weight: bold;
	font-family: 'Conv_apercu_regular';

}

.icon-cross2 {
	font-size: 20px !important;
	margin-right: 20px;
}

.button-switch{
    display: flex;
    align-items: center;
    height: 2.5rem;
  }
  
  .button-switch > label {
    cursor: pointer;
    height: 0;
    position: relative;
    width: 40px;
    text-align: left;
  }
  
  .button-switch > label::before {
    background: #909090;
    border-radius: 18px;
    content: "";
    height: 27px;
    margin-top: -13.5px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 46px;
  }
  
  .button-switch > label::after {
    background: var(--c-white);
    border-radius: 16px;
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);
    content: "";
    height: 24px;
    left: 0;
    margin-top: -9px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
  }
  
  .button-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
  }
  
  .button-switch > input[type="checkbox"] {
    display: none;
    margin: 4px 0 0;
  }
  
  .button-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 23px;
  }
  
  .button-switch.switch-sm > label::before {
    background: #909090;
    border-radius: 18px;
    content: "";
    height: 1.5rem;
    margin-top: 0;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 3rem;
  }
  
  .button-switch.switch-sm > label::after {
    background: var(--c-white);
    border-radius: 16px;
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);
    content: "";
    left: 0;
    margin-top: 0;
    position: absolute;
    top: -12px;
    transition: all 0.3s ease-in-out;
    height: 1.5rem;
    width: 1.5rem;
  }
  
  .button-switch.switch-sm > label{
    display: flex;
    align-items: center;
    width: 2rem;
  }
  